main{
  background-color: #F5F5F5;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  bottom:50px;
  left: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dice--component{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 0 2px lightgrey;
  cursor: pointer;
  font-family: Karla;
}

.dice--component>b{
  font-size: 2.5rem;
}


.diceContainer{
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  gap:40px 80px;
}

.reset--button{
  margin-top: 20px;
  height: 2.5rem;
  width: 5rem;
  background-color: #5035FF;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}